page-nyuko {
    .item-button-scan {
        width: 5%;
        min-width: 80px;
    }

    .button-scan {
        padding: 20px 15px !important;
    }

    .button-Regist {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
