page-login {
    /*20180912 ANHLD ADD START*/
    .item-button-scan {
        width: 5%;
        min-width: 80px;
    }
    .button-scan{
        padding: 20px 15px !important;
    }

    .button-SignIn {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    /*20180912 ANHLD ADD END*/
}
